body{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:linear-gradient(45deg, #f8e6df, #8ce5c3);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
}

.content{
    display: block;
    flex-direction: column;
    align-items: center; 
    background: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(89, 208, 154, 0.2);
}

.action{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox{
    margin-left: 15px;
}

.topic-text h1{
    font-size: 30px;
    font-weight: 600;
    color: #252525;
    margin-bottom: 10px;
}
.topic-text h2{
    font-size: 20px;
    font-weight: 600;
    color: #3f68ed;
    margin-bottom: 10px;
}
.form-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-box {
    height: 50px; 
    width: 500px; 
    margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
    height: 100%; 
    width: 100%; 
    border: none; 
    border-radius: 5px; 
    background: #f0f1f8; 
    padding: 0 20px;
}

.input-box textarea {
    resize: none;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}

.message-box{
    min-height: 90px;
}

.btn {
    display:inline-block;
    width: 180px;
}

.btn {
    color: #fff;
    font-size: 18px;
    background: #18765c;;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s;
    margin-top: 50px;
}

.btn:hover {
    background: rgba(76, 175, 80, 0.6);
}

.user-photo img{
    padding-top: 20px;
    padding-bottom: 20px;;
    max-width: 300px;
    height: auto;
    }


.comment {
    font-size: 1.3rem;
    max-width: 15vw;
    min-height: 20vh;
    background: transparent;
    border: none;
    padding: 0%;
}